* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  place-content: center;
  align-items: center;
  height: 100vh;
  margin: auto;
  text-align: center;
  color: #000;
  background-color: #fff;
}
.weather {
  display: flex;
  flex-direction: row;
}

.weather > input, button {
  
  margin: 60px 4px 0;
  border: solid 1px skyblue;
  border-radius: 6px;
  padding-left: 10px;
}
.weather > input {
  width: 560px;
  height: 40px;
}
.weather > button {
  width: auto;
  background: #caf593;
  padding: 8px 32px;
  height: 40px;
  font-size: 18px;
}
input::placeholder {
  font-style: italic;
}

.noData, .response {
  margin: 50px 0;
}

.response {
  margin: 40px auto 0;
  width: 40%;
  /*border: solid 1px skyblue; **/
  padding: 1rem;
  border-radius: 6px;
  font-size: 27px;
}
.response > div {
  margin: 10px 10px;
}
.response > img {
  height: 150px;
}




